body{
  width: 100%;
  height: auto;
  align-self: center;
  background-image: url('Background\ Expense\ Tracker.jpg'); 
}

.App {
  text-align: center;
}

.Main-app{
  height: auto;
  width: 500px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 2%;
  align-items: center;
  padding:20px;
  margin-top:2%;
  box-shadow: 2px 5px 10px 5px black;
  background: rgba(135, 207, 235, 0.728);
  /* background: rgba(166, 255, 216, 0.947); */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
